/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url('../../content/images/hipster.png') no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url('../../content/images/hipster2x.png') no-repeat center top;
        background-size: contain;
    }
}

.button {
    border-radius: 4px;
    background-color: darkslateblue;
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

//** variables
$background: #f5f6fa;
$text: #9c9c9c;
$input-bg-color: #fff;
$input-text-color: #a3a3a3;
$button-bg-color: #7f8ff4;
$button-text-color: #fff;

//** root
:root {
    background: $background;
    color: $text;
    font: 1rem 'PT Sans', sans-serif;
}

html,
body,
.container {
    height: 100%;
}

a {
    color: inherit;

    &:hover {
        color: $button-bg-color;
    }
}

//** helper
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.uppercase {
    text-transform: uppercase;
}

//** button
.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;

    &--primary {
        background: $button-bg-color;
        color: $button-text-color;
        box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        padding: 12px 36px;

        &:hover {
            background: darken($button-bg-color, 4%);
        }

        &:active {
            background: $button-bg-color;
            box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
        }
    }

    &--inside {
        margin-left: -96px;
    }
}

//** form
.form {
    &__field {
        width: 360px;
        background: #fff;
        color: $input-text-color;
        font: inherit;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
        border: 0;
        outline: 0;
        padding: 22px 18px;
    }
}
