<div class="row">
    <div class="col-md-12">
        <h1 class="display-4" jhiTranslate="home.title" align="center">Welcome, Java Hipster!</h1>
        <h2 class="lead" jhiTranslate="home.subtitle" align="center">This is your homepage</h2>

        <div [ngSwitch]="isAuthenticated()">
            <div align="center" *ngSwitchCase="false">
                <img src="../../content/images/sentiment2.png">
            </div>

            <div align="center" *ngSwitchCase="false">
                <h3 jhiTranslate="home.login">Please log in to start using our service.</h3>
                <button class="button" (click)="login()"><span>Sentiment.It </span></button>
            </div>

            <div align="center" *ngSwitchCase="true">
                <h3>Select the service to collect sentiment data from.</h3>
            </div>

            <div class="row" *ngSwitchCase="true">
                <div class="column" align="center">
                    <img src="../../content/images/twitter-logo.png">
                    <div class="container">
                        <div class="container__item">
                            <form class="form">
                                <input type="email" id="twitterKey" class="form__field" placeholder="Your Keyword" />
                                <button type="button" class="btn btn--primary btn--inside uppercase" onClick="javascript: window.open('https://13unyx62q3.execute-api.us-east-1.amazonaws.com/deploy/topic?keyword=' + document.getElementById('twitterKey').value);">Analyze</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="column" align="center">
                    <img src="../../content/images/reddit-logo.png">
                    <div class="container">
                        <div class="container__item">
                            <form class="form">
                                <input type="email" class="form__field" placeholder="Your Keyword" />
                                <button type="button" class="btn btn--primary btn--inside uppercase">Analyze</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
